ul#ul-browse {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

ul#ul-shopping
{
    border: solid 2px yellow;
    list-style: none;
    display: flex;
    margin:auto;
}

#ul-browse > li {
    padding: 0.25rem;
}

#ul-shopping > li {
    padding: 0.25rem;
    border: 2px solid blue;
}

.ListView {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media screen and (min-width: 1100px) {
    #ul-browse {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}