.TopBar {
    border: solid 5px teal;
    display: flex;
    flex-direction: column;
}

.user-controls
{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

button#cart
{
    padding: 0.5rem;
}

button#cart:hover
{
    cursor: pointer;
}